# Compiled object files
*.o
*.obj

# Compiled binaries (no extension, produced by gcc)
src/csr_convert
test/csr_convert
test/test_csr
*.out
build/*

# large graph file
graphs/graph_large_sparse.edgelist
graphs/graph_largest_sparse.edgelist
graphs/graph_large*.edgelist
graphs/*.edgelist


# Editor/OS junk (optional but common)
.vscode/
*.swp
.DS_Store

# Compiled executables (Windows)
*.exe
